<md-toolbar class="md-hue-2 md-tall">
      <div class="md-toolbar-tools">
      <div layout="row" flex-gt-sm>
        <h2 flex-gt-sm="85">
          <i class="md-display-1" style="font-size:44px;">Paintings</i>
        </h2>
       </div>
       <div layout="row">
       <md-button href="/#payment">
       		<i style="font-size:30px;" class="material-icons md-fab">&#xE8CC;</i>
       		<md-tooltip>click for payment</md-tooltip>
       	</md-button>
       <md-button href="/#author">
       		<i style="font-size:30px;" class="material-icons md-fab">&#xE853;</i>
       		<md-tooltip>get the author info</md-tooltip>
       	</md-button>
       </div>
      </div>
    </md-toolbar>
